<canvas height='1' id='confetti' width='1'></canvas>
<div class="container">
  <div class="reveal">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title">Shoutout of the Week!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="reveal-meta">
          <strong><%= @shoutout.sender %></strong> made a shoutout to
          <%= format_recipients(@shoutout.recipients).html_safe %>

          <% unless @shoutout.cheers.empty? %>
            <%= image_tag('cheer.png', class: 'inline-cheer-icon') %><%= @shoutout.cheers.size %>
          <% end %>
        </p>
        <div class="cheer well">
          <p class="lead text-center reveal-message"><%= highlight_usernames(@shoutout.message, @shoutout.recipients).html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>
