<canvas height='1' id='confetti' width='1'></canvas>
<div class="container">
  <div class="reveal">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title">Shoutout of the Week!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Winning Shoutouts</h2>
        <% @shoutouts.each do |s| %>
          <p class="reveal-meta">
            <strong><%= s.sender %></strong> made a shoutout to
            <%= format_recipients(s.recipients).html_safe %>

            <% unless s.cheers.empty? %>
              🎉<%= s.cheers.size %>
            <% end %>
          </p>
          <div class="cheer well">
            <p class="lead text-center reveal-message">
              <%= highlight(s.message, s.recipients, s.tags).html_safe %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <h2>Winning People</h2>
        <% @winners.each do |w| %>
          <p class="reveal-meta">
            <strong><%= w[:name] %></strong>
          </p>
          <% w[:shoutouts].each do |s| %>
            <div class="cheer well">
              <p class="lead text-center reveal-message">
                <%= highlight(s.message, s.recipients, s.tags).html_safe %>
              </p>
            </div>
            <br/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
