<% @shoutouts.each do |s| %>
  <div>
    <p>
      Shoutout #<%= s.id %> (<%= distance_of_time_in_words(Time.zone.now, s.created_at) %> ago):
      <br/>
      <strong><%= s.sender %></strong> to <strong><%= s.recipients.join(', ') %></strong>
      <br/>
      "<%= s.message %>"
      <br/>
      cheer count: <%= s.cheers.size %>
    </p>
    <hr>
  </div>
<% end %>
